<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vue.js lesson8</title>
    <body>
        <div id="app">
            <h1>{{title}}</h1>
            <h2>{{name}}</h2>
            <label>Name</label>
            <input type="text" v-model="name">
            <br>
            <label>checkbox value: {{checked}}</label>
            <input type="checkbox" v-model="checked">
            <br>
            <h2>You can see the password now: {{text}}</h2>
            <input type="password" v-model="text">
            <h3>italic text prviev:</h3>
            <div class="italic">
                <h4>{{textcur}}</h4>
            </div>
            <input type="text" v-model="textcur">
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script async src="app.js"></script>
</html>